.side-bar
  .side-header
    .side-header__box
      %p.side-header__box__username
        user-name
      %ul.side-header__box__icons
        %li
          = link_to "#", class:"side-header__box__new-group" do
            = icon('fas', 'edit', class: 'group-edit')
            %span<>
        %li
          = link_to "#", class: "side-header__box__edit-user" do
            = icon('fas', 'cog', class: 'edit-user')
            %span<>

  .side-bar__group-list
    .group-list
      %p.group-list__group-name
        techcamp
      %p.group-list__message
        まだメッセージがありません
    .group-list
      %p.group-list__group-name
        techcamp
      %p.group-list__message
        まだメッセージがありません