* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.side-bar {
  width: 300px;
  background: #2f3e51;
  &__header{
    height: 100px;
    background: #253141;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &__box{
      height: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      &__username{
        font-size: 16px;
        color: $sideBarText;
        line-height: 20px;
        font-weight: bold;
      }
      &__icons{
        width: 60px;
        text-align: right;
        font-size: 14px;
        li{
          display: inline;
          cursor: pointer;
        }
        .group-edit{
          color: $sideBarText;
          text-decoration: none;
          margin-right: 5px;
        }
        .edit-user{
          color: $sideBarText;
          text-decoration: none;
        }
      }
    }
  }
  &__group-list{
    padding: 20px 20px 0;
    &__group{
      color: $sideBarText;
      font-weight: bold;
      margin-bottom: 40px;
      &__link{
        text-decoration: none;
        color: $sideBarText;
      }
      &__group-name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message{
        font-size: 11px;
      }
    }
  }
}

.main-chat {
  width: calc(100vw - 300px);
  background: #ffffff;
  &__header{
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    &__left-box{
      margin-top: 35px;
      &__current-group{
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
      }
      &__member-list{
        display: flex;
        color: #999999;
        font-size: 12px;
      }
    }
    &__edit-btn{
      display: inline-block;
      text-align: center;
      text-decoration: none;
      line-height: 40px;
      color: $btnColor;
      font-size: 16px;
      height: 40px;
      width: 72px;
      border: 1px solid $btnColor;
      margin-top: 28px;
    }
  }
  &__message-list{
    height: calc(100vh - 100px - 90px);
    background: #fafafa;
    padding: 46px 40px;
    &__message{
      margin-bottom: 46px;
      &__top-box{
        display: flex;
        margin-bottom: 12px;
        &__user-name{
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__text{
        color: #434A54;
        font-size: 14px;
      }
    }
  }
  &__form{
    height: 90px;
    background: #d2d2d2;
    padding: 20px 40px;
    &__new-message{
      display: flex;
      &__input-box{
        width: 100%;
        position: relative;
        &__text{
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
        }
        &__image{
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 25px;
          cursor: pointer;
          &__file{
            display: none;
          }
        }
      }
    }
    &__submit-btn{
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background: $btnColor;
      color: white;
      cursor: pointer;
    }
  }
}